.announcement {
  width: 100%;
  background-color: $primary-color;
  padding: 1rem 2rem;
  margin-bottom: 2rem;

  &Message {
    font-size: $p3;
    margin-bottom: 1rem;
  }
  &Button {
    display: flex;
    align-items: center;
    font-size: $p3;
    background-color: $background;
    padding: 0.5rem 1.5rem;
    width: max-content;
    border-radius: 0.5rem;
    margin: auto;

    &:hover {
      cursor: pointer;
    }

    span {
      margin-left: 0.5rem;
    }
  }
}
