.equipmentsHeader {
  text-align: center;
  margin-bottom: 5rem;
}

.equipmentsDescription {
  line-height: 3.5rem;
  padding: 0 15rem;
  text-align: center;
}

.equipmentCategory {
  margin: 5rem 0;
}

.equipmentsArticleYearCategory {
  padding: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.equipmentsComputer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5rem;
}

.equipmentsArticle {
  overflow: hidden;
  color: inherit;

  &:hover .equipmentsArticleHeader {
    color: $primary-color;
  }
}

.equipmentsArticleBottom {
  padding: 1rem;
}

.equipmentsArticleHeader {
  transition: all 0.3s;
}

.equipmentsArticleSpan {
  color: $alternate-color;
  font-size: $p3;
}
