.header {
  background-color: $background;
  position: relative;
  padding: 3rem 0;

  &Mode {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background-color: darken($background, 20);
    border-radius: 0.5rem;

    &Icon {
      font-size: 3rem;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  &Menu {
    width: 27rem;
    height: 27rem;
    margin: auto;
    position: relative;
    z-index: 5;

    &Item {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      transition: all 0.2s;

      &:hover::after {
        display: block;
        width: 10rem;
        height: 2rem;
        color: $font-color;
        font-size: $p2;
        text-align: center;
        transform: translateX(-25%);
      }

      &:not(:last-child):hover {
        background-color: darken($background, $amount: 18);
        width: 5rem;
        height: 5rem;
      }
    }

    &Item1 {
      position: absolute;
      top: 10%;
      left: 10%;

      &:hover::after {
        content: "Home";
      }
    }

    &Item2 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      &:hover::after {
        content: "About";
      }
    }

    &Item3 {
      position: absolute;
      top: 10%;
      right: 10%;

      &:hover::after {
        content: "Articles";
      }
    }

    &Item4 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      &:hover::after {
        content: "Portfolio";
      }
    }

    &Item5 {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      &:hover::after {
        content: "Equipments";
      }
    }

    &Item6 {
      position: absolute;
      top: 90%;
      left: 10%;
      transform: translateY(-100%);

      &:hover::after {
        content: "Links";
      }
    }

    &Item7 {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);

      &:hover::after {
        content: "Settings";
      }
    }

    &Item8 {
      position: absolute;
      top: 90%;
      right: 10%;
      transform: translateY(-100%);

      &:hover::after {
        content: "Contact";
      }
    }

    &Item9 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 13rem;
      height: 13rem;
      transform: translate(-50%, -50%);
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 1);

      &:hover {
        width: 15rem;
        height: 15rem;
      }
    }
  }

  .networkSvg {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: darken($background, 20);
    border-radius: 0.5rem;
    transition: all 0.3s;
    width: 5rem;
    overflow: hidden;
    transition: all 0.3s;

    & .networkSvgIconContainer:not(:first-child) {
      z-index: 5;
    }
    &:hover {
      width: 50rem;
    }

    &IconContainer {
      width: 5rem;
      height: 5rem;
      padding: 1rem;
      z-index: 1;
    }

    &Icon {
      width: 3rem;
      height: 3rem;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  @include small-breakpoint {
    .networkSvg {
    }
    .networkSvg {
      flex-direction: column;
      height: 5rem;

      &:hover {
        height: 50rem;
        width: 5rem;
      }
    }
  }

  //ICONS
  .brandIcon {
    position: absolute;
    width: 10rem;
    height: 10rem;
    opacity: 0.3;

    &:hover {
      opacity: 0.5;
      transition: all 0.3s;
    }
  }

  .apolloIcon {
    top: 10%;
    left: 58%;
    transform: rotate(45deg);
  }

  .cssIcon {
    top: 15%;
    left: 25%;
    transform: rotate(30deg);
  }

  .gatsbyjsIcon {
    top: 7%;
    left: 35%;
    transform: rotate(30deg);
  }

  .graphqlIcon {
    top: 58%;
    left: 80%;
    transform: rotate(45deg);
  }

  .htmlIcon {
    top: 45%;
    left: 13%;
    transform: rotate(-45deg);
  }

  .jsIcon {
    top: 60%;
    left: 65%;
    transform: rotate(-40deg);
  }

  .nextjsIcon {
    top: 32%;
    left: 88%;
    transform: rotate(45deg);
  }

  .nodejsIcon {
    top: 55%;
    left: 2%;
    transform: rotate(75deg);
  }

  .reactIcon {
    top: 15%;
    left: 74%;
    transform: rotate(45deg);
  }

  .reduxIcon {
    top: 60%;
    left: 30%;
    transform: rotate(45deg);
  }

  .sassIcon {
    top: 25%;
    left: 65%;
    transform: rotate(90deg);
  }

  .typescriptIcon {
    top: 10%;
    left: 5%;
    transform: rotate(45deg);
  }

  .visualStudioCodeIcon {
    top: 60%;
    left: 50%;
  }
}
