.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  width: 80%;
  margin: auto;
  flex-grow: 1;
  padding: 5rem 0;
}

@include small-breakpoint {
  .content {
    padding: 2rem 0;
    width: 90%;
  }
}
