.articleAbout {
  display: flex;
  margin-bottom: 5rem;

  h3 {
    min-width: 30%;
  }
  p {
    line-height: 3rem;
  }
}

@include medium-breakpoint {
  .articleAbout {
    flex-direction: column;
    margin-bottom: 3rem;

    h3 {
      text-align: center;
      padding: 1rem 0;
    }
    p {
      line-height: 3rem;
    }
  }
}

.articleAboutExperiences {
  .aboutExperience {
    position: relative;
    display: flex;
    align-items: center;

    &ImageContainer {
      width: 30%;

      .aboutExperienceImage {
        width: 100%;
        height: 100%;
      }
    }
    &Body {
      width: 70%;
      padding: 2rem;
    }

    &Position {
      font-size: $h3;
    }
    &Company {
      color: $secondary-color;
    }
    &Experience {
      font-size: $p3;
    }
    &Description {
      font-size: $p3;
    }
    &Timer {
      font-size: $p2;
      text-align: right;
      color: darken($background, 50);
      &Span {
        color: $primary-color;
      }
    }
  }
}

.articleAboutTechnologiesBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.aboutTechnology {
  padding: 2rem;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    background-color: darken($background, 15);
  }

  &Image {
    height: 10rem;
  }
  &Language {
    font-size: $p4;
  }
  &Situtation {
    font-size: $p3;
    font-weight: bold;
  }
  &Experience {
    font-size: $p3;
  }
}
