.articleArticleYearCategory {
  border-bottom: 1px solid darken($background, 40);
  padding: 1rem 0;
}

.articleArticle {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 3rem 0;

  &:hover {
    cursor: pointer;

    .articleArticleTitle {
      color: $primary-color;
    }
  }

  &Title {
    transition: all 0.3s;
  }

  &Description {
    font-size: $p3;
    padding: 1rem;
  }

  &Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .articleArticleDate {
      color: darken($background, 40);
      font-size: $p4;
    }

    .articleArticleButtons {
      display: flex;
      align-items: center;
    }

    .articleArticleButton {
      padding: 0.8rem 1.5rem;
      color: darken($background, 70);
      display: flex;
      align-items: center;
      border-radius: 0.5rem;

      &:hover {
        background-color: darken($background, 15);
      }

      &:first-child {
        margin-right: 1rem;
      }

      span {
        font-size: $p2;
        font-weight: bold;
        text-transform: uppercase;
      }

      svg {
        margin-right: 1rem;
        font-size: 3rem;
      }
    }
  }
}
