.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &Container {
    width: 75%;
  }
  &Filter {
    width: 20%;
  }
}

.articleArticleYearCategory {
  border-bottom: 1px solid darken($background, 40);
  padding: 1rem 0;
}

.articleArticle {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 3rem 0;

  &:hover {
    cursor: pointer;

    .articleArticleTitle {
      color: $primary-color;
    }
  }

  &Title {
    transition: all 0.3s;
  }

  &Tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;

    &Item {
      padding: 3px 15px;
      font-size: 10px;
      margin-right: 10px;
      border-radius: 3px;
    }
  }

  &Description {
    font-size: $p3;
    margin: 10px;
  }

  &Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .articleArticleDate {
      color: darken($background, 40);
      font-size: $p4;
    }

    .articleArticleButtons {
      display: flex;
      align-items: center;
    }

    .articleArticleButton {
      padding: 0.8rem 1.5rem;
      color: darken($background, 70);
      display: flex;
      align-items: center;
      border-radius: 0.5rem;

      &:hover {
        background-color: darken($background, 15);
      }

      &:first-child {
        margin-right: 1rem;
      }

      span {
        font-size: $p2;
        font-weight: bold;
        text-transform: uppercase;
      }

      svg {
        margin-right: 1rem;
        font-size: 3rem;
      }
    }
  }
}

.filterItem {
  margin-bottom: 20px;

  &Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &Input {
    display: none;
  }

  &Body {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      margin-bottom: 7px;
    }
  }

  #platform:checked ~ &Body {
    height: 70px;
  }
  #technologies:checked ~ &Body {
    height: 300px;
  }
  #year:checked ~ &Body {
    height: 70px;
  }
}
