.equipmentsHeader {
  text-align: center;
  margin-bottom: 5rem;
}

.equipmentsDescription {
  line-height: 3.5rem;
  padding: 0 15rem;
  text-align: center;
}

@include medium-breakpoint {
  .equipmentsDescription {
    line-height: 3.5rem;
    padding: 0 5rem;
  }
}

@include small-breakpoint {
  .equipmentsHeader {
    margin-bottom: 2rem;
  }
  .equipmentsDescription {
    line-height: 3rem;
    padding: 0 2rem;
  }
}
