.homeArticle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  padding: 5rem 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);

  .homeArticleImage {
    width: 30%;
    height: 100%;
  }

  .homeArticlePost {
    width: 70%;
    padding: 0 5rem;
    text-align: center;

    p {
      line-height: 3rem;
      margin-bottom: 2rem;
    }

    span {
      color: $secondary-color;
    }
  }
}

@include medium-breakpoint {
  .homeArticle {
    flex-direction: column;
    padding: 2rem;

    .homeArticleImage {
      width: 40%;
      margin: 3rem 0;
    }

    .homeArticlePost {
      width: 90%;
      padding: 0;
    }
  }
}
