.portfolioSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-gap: 2px;
}

.portfolioLink {
  opacity: 0.7;
  transition: all 0.2s;
  position: relative;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.portfolioBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $background;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}
.portfolioTitle {
  margin-bottom: 1rem;
}
.portfolioDescription {
  font-size: $p3;
  margin-bottom: 1rem;
}
.portfolioTechnology {
  font-size: $p2;
  padding: 0.2rem 1rem;
  margin: 0 0.3rem;
  border-radius: 0.3rem;
}

.portfolioRouters {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 86px;
  padding: 5px;

  &Item {
    background-color: darken($background, 20);
    padding: 4px 5px 0;
    border-radius: 4px;

    &:hover {
      background-color: darken($background, 5);
    }

    svg {
      width: 25px;
      height: 25px;
      transition: all 0.3s;
    }

    &:hover svg {
      transform: scale(1.1);
    }
  }
}

@include small-breakpoint {
  .portfolioSection {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
}
