.settingsSection {
  margin: auto;
  text-align: center;

  &Header {
    margin-bottom: 3rem;
  }
}

.darkMode {
  margin-bottom: 2rem;

  &Header {
    margin-bottom: 1rem;
  }
  &Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;

    &Item {
      padding: 0.6rem 2rem;
      background-color: darken($background, 19);

      &:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      &:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &:hover {
        background-color: darken($background, 17);
        cursor: pointer;
      }

      .darkModeBottomIcon {
        font-size: 2.4rem;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.iconMode {
  &Header {
    margin-bottom: 1rem;
  }

  &List {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    list-style: none;

    &Item {
      padding: 0.6rem 2rem;
      background-color: darken($background, 19);
      font-size: 2.4rem;
      transition: all 0.2s;

      &:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      &:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &:hover {
        transform: scale(1.2);
        background-color: darken($background, 17);
        cursor: pointer;
      }
    }
  }
}
