$background: #202020;
$foreground: #b3b9c5;
$accent: #303030;
$dark-border: darken($background, 3%);
$primary-color: #5183f5;
$yellow: #fed356;

.dark {
  background-color: $background;
  color: $foreground;

  //HEADER
  .header {
    background-color: $background;

    &Mode {
      background-color: lighten($background, 10);
    }

    .networkSvg {
      background-color: lighten($background, 10);
    }

    &Menu {
      &Item {
        &:hover::after {
          color: $foreground;
        }
        &:not(:last-child):hover {
          background-color: lighten($background, 18);
        }
      }
    }
  }
  @media (max-width: 620px) {
    .header {
      &Menu {
        &Item {
          background-color: darken($background, 75);
        }
      }
    }
    .headerMobileMenu .headerMenuItem {
      background-color: darken($background, 75);
    }
  }

  .article {
    background-color: lighten($background, $amount: 5);
    box-shadow: 0px 10px 20px rgba($yellow, 0.2);
  }

  //ABOUTPAGE
  .aboutTechnology {
    &:hover {
      background-color: lighten($background, 10);
    }
  }
  .articleAboutExperiences {
    .aboutExperience {
      &Company {
        color: $primary-color;
      }
      &Timer {
        &Span {
          color: $yellow;
        }
      }
    }
  }

  //ARTICLESPAGE
  .articleArticleButton {
    color: $foreground;
    &:hover {
      background-color: lighten($background, 15);
    }
  }

  //EQUIPMENTSCATEGORY
  .equipmentsArticleYearCategory {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  .equipmentsArticle {
    &:hover .equipmentsArticleHeader {
      color: $primary-color;
    }
    &Span {
      color: darken($foreground, 30);
    }
  }

  //SETTINGSPAGE
  .darkModeBottomItem {
    background-color: lighten($background, 19);
    &:hover {
      background-color: lighten($background, 17);
    }
  }
  .iconModeListItem {
    background-color: lighten($background, 19);

    &:hover {
      background-color: lighten($background, 17);
    }
  }

  //PORTFOLIOPAGE
  .portfolioLink {
    border: 1px solid $foreground;
  }

  //ANNOUNCMENT
  .announcement {
    &Button {
      span {
        color: lighten($background, 30);
      }
    }
  }
}
