@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }

  .link {
    @apply text-primary font-medium hover:text-white duration-200 border-b border-solid border-gray-500 hover:border-gray-400 cursor-pointer;
  }
}

root {
  --color-scrollbar: #f5f5f5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

body {
  background: rgb(70, 71, 122);
  background: radial-gradient(
    circle,
    rgba(70, 71, 122, 1) 0%,
    rgba(11, 17, 32, 1) 100%
  );
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: var(--color-white);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  line-height: 156%;
  margin: 0;
  padding: 0;
}

.react-images__view-image {
  display: unset;
}
